#container {
    display: block;
    background-color: blue;
    width: 900px;
    height: 900px;
    position: relative;
}

#box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    top: 100px;
    left: 100px;
}

